.specs_list{
    color: #8090b5 !important;
    line-height: 1.7;
   
}
/* ul li{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #8090b5;
    overflow-x: hidden;
} */
.specs_list_item{
 

}